/*CSS mobile first*/

/* Default Mobile*/
body {
background-color:#787878;
} 
.title {
background-color: #ffff99;
padding: 1em;
text-align: center;
color:#000066;
}
.text {
background-color:#000066;
color:#ffff99;
width: 90%;
margin: auto;
padding: 1em;
margin-top: 1em;
}
.bottomnav {
border: 1px solid #000066;
text-align: center;
height: 5em;
background-color:#ffff99;
margin: 1em;
}

/*CSS screen>800px*/
@media (min-width: 800px) {
body{
background-color: black;
}
.title {
background-color: #0000ff;
color: white;
}
.bottomnav {
float:left;
width: 20%;
margin: 0em;
padding: 0em;
text-align: left;
border: 0px;
background-color: #0BFF0B;
}
.text {
float: right;
Width: 75%;
background-color: purple;
}
/*

*/
}