/*CSS mobile first*/

/* Default Mobile*/
body {
background-color:#787878;
} 
.title {
background-color: #ffff99;
padding: 1em;
text-align: center;
color:#000066;
}
.text {
background-color:#000066;
color:#ffff99;
width: 90%;
margin: auto;
padding: 1em;
margin-top: 1em;
}

/*CSS screen>450px*/

@media (min-width: 450px) {
body{
background-color: white;
}
/*
body{background-color:#white}
.title {
background-color: blue;
padding: 30px;
margin: auto;
width: 100%;
text-align: center;
}
.button {
float: right;
height:10%;
width:22%;
text-align: center;
background-color: #33ccff;
position: relative;
}
.sidebar {
background-color:#33ccff;
width:10%;
height:10%;
position: relative;
align:left;
border:10px solid #33ccff;
}
.sidebar3 {
background-color:#33ccff;
width:10%;
height:100%;
position: relative;
align:left;
border: 10px solid #33ccff;
}
.text {
position: relative;
float: right;
margin: 5%;
background-color:#cccccc;
width: 80%;
}
*/
}